<div class="header">
  <a href="/" class="logo">Skincare Is Selfcare (｡◕‿‿◕｡)</a>
  <div class="header-right">
    <a class="head-link" href="/">Home</a>
    <a class="head-link" href="/login">Login</a>
    <a class="head-link" href="/signup">Sign Up</a>
  </div>
</div>