<link rel="stylesheet" type="text/css" href="/stylesheets/dashboard.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/dragula.min.css">
<div id="vertical-nav-container">
  <ul class="vertical-nav-bar">
    <!-- <li class="nav-path"><a class="active" href="/demo">Calendar</a></li> -->
    <li class="nav-path"><a href="/demo">Calendar</a></li>
    <li class="nav-path"><a href="/demo_products">Products</a></li>
    <li class="nav-path"><a href="#routines">Routines</a></li>
    <li class="nav-path"><a href="#account">Account Settings</a></li>
    <li class="nav-path"><a href="/logout">Sign Out</a></li>
  </ul>
</div>