html, body {
  height: calc(100% - 30px);
}
.dashboard-main-container {
  margin-top: 15px;
  margin-left: 15%;
  margin-right: 20%;
  width: calc(80% - 87px);
  max-width: 1200px;
  height: 100%;
}

.float-left {
  float: left;
  margin-right: 5px;
}

.float-right {
  float: right;
  padding: 5px;
  margin: 5px;
}

.small-margin-padding {
  margin: 0px;
  padding: 5px;
}

.center-text {
  text-align: center;
}

/* ----------- Vertical nav styling ----------- */

.vertical-nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  width: 85px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.nav-path a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

.nav-path a.active {
  background-color: cornflowerblue;
  color: white;
}

.nav-path a:hover:not(.active) {
  background-color: #555;
  color: white;
}

h4 {
  text-align: center;
}

/* ----------- Routine Columns Styling --------- */
#table {
  position: relative;
  left: 87px;
  top: 10px;
  width: calc(100% - 87px); /*100% less the width of vertical navbar*/
  height: 100%;
}

.column {
  background-color: white;
  width: calc((100% - 20px) / 4);
  height: 100%;
  overflow: auto;
}

.item {
  width: calc(100% - 20px);
  background-color: cornflowerblue;
  padding: 10px;
  margin: 5px;
  width: calc(100% - 30px);
  color: white;
  cursor: pointer;
}

.dropzone {
  height: calc(100% - 55px);
}

#title {
  margin: 5px;
  font-weight: bold;
}

.inline {
  float: left;
}

/* ----------- Date Selector Styling --------- */
[type="date"] {
  background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

body {
  background: #e5e5e5;
  font: 13px/1.4 Geneva, 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}
label {
  display: block;
}
input {
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  background-color: #fff;
  padding: 3px 5px;
  box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
  width: 110px;
}

/* ----------- Products Page Styling --------- */
.dashboard-title {
  padding: 0px;
  margin-top: 15px;
  margin-bottom: 8px;
  font-size: 16px;
  margin-left: 87px;
}

#products-list-container {
  float: left;
  background-color: white;
  height: 100%;
  width: 50%;
  overflow: auto;
}

#change-products-container {
  background-color: #e5e5e5;
  position: relative;  
  height: 50%;
  width: calc(50% - 10px);
  min-width: 200px;
  min-height: 300px;
}

.change-products {
  background-color: white;
  height: calc(50% - 5px);
  width: 100%;
}

.products-form {
  margin-top: 5%;
  margin-left: 10%;
}

.products-form-input {
  width: 80%;
  margin-bottom: 5px;
  padding: 5px;
}

.edit-products-btn {
  float: right;
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
  display: none;
  background-color: midnightblue;
  margin-right: 3px;
  opacity: 0.5;
  font-size: x-small;
}

.item:hover .edit-products-btn {
  display: block;
}

#add-products-container {
  margin-bottom: 5px;  
}

#edit-products-container {
  height: 60%;
  /*display: none;*/
}

#change-products-title {
  font-weight: bold;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}
/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  height: 110px;
}


/* ----------- util styles ----------- */
.p-abs {
  position: absolute;
}

.p-rel {
  position: relative;
}

.w-100 {
  width: 100%;
}

.d-inline-block {
  display: inline-block;
}

.center-vertical {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}