<!DOCTYPE html>
<html>
<head>  
  <link rel="stylesheet" type="text/css" href="/stylesheets/dashboard.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/dragula.min.css">
</head>
<body>
  
  <% include ../partials/vertical-nav.ejs %>

<div style="margin-left: 85px; padding: 1px; height: 30px; width: calc(100% - 85px);">
  <div class="inline" style="font-size: 18px">Skincare routine</div>
  <div style="float: right; margin-right: 40%">
    <form id="select-date-form" action="/demo">
      Select day: <input type="date" name="day">
      <input type="submit">
    </form>
  </div>
</div>

<div id="table">

  <div class="column">
    <h2 id="title">Products List</h2>
    <div class="dropzone" id="products">
      <div class="item">Clinique Take The Day Off Cleansing Balm</div>
      <div class="item">CeraVe Hydrating Cleanser</div>
      <div class="item">The Ordinary Glycolic Acid 7% Toning Solution</div>
      <div class="item">Caudalie Beauty Elixir</div>
      <div class="item">Kiehl's Midnight Recovery Concentrate</div>
      <div class="item">Etude House SoonJung 10 Free Moist Emulsion</div>
      <div class="item">COSRX Balancium Comfort Ceramide Cream</div>
    </div>
  </div>

  <div class="column">
    <h2 id="title">AM Routine</h2>
    <div class="dropzone" id="am-routine">
    </div>
  </div>

  <div class="column">
    <h2 id="title">PM Routine</h2>
    <div class="dropzone" id="pm-routine">
    </div>
  </div>

  <div class="column" id="notes">
    <h2 id="title">Notes</h2>
    <p style="padding: 15px;">Skin hydration has improved but hyper-pigmentation still needs help. I am considering adding Vitamin C serum into routine...</p>
  </div>
</div>

<script src='https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.js'></script>
<script type="text/javascript">
  dragula([document.getElementById('products'), document.getElementById('am-routine'), document.getElementById('pm-routine')], {
    copy: (el, source) => {
      return source === document.getElementById('products');
    },
    accepts: (el, target) => {
      return target !== document.getElementById('products');
    },
    moves: (el, target, handle) => {
      if (el.id === "title") { return false; }
      else { return true; }
    },
    removeOnSpill: true
  });
</script>

</body>
</html>