<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div id="greeting-container">
  <p>Hello!<br><br>
    My name is Ana and I am passionate skincare. It started as a search for a remedy for a sudden onset of acne, but over time my search turned into a hobby and then a passion. I found like-minded individuals from online communities that shared my interests which opened the floodgates to a wealth of information. I learned about what ingredients were backed by science and what their associated effects were. Eventually I learned about different trends and started experimenting more and more. It was during my experimentation that I realized how complex a skincare routine could become. For example, in Korea there is a trend called the "7-skin Method" and it is entails layering 7 products.<br><br>

    Skincare enthusiasts often keep journals, outlining their routines with notes about when they have added or removed products and the results. I hope to use my experience to create a tool for users to track and evaluate their skincare routines.
  </p><br>
</div>

</body>

<footer>

</footer>
</html>
