<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<form method="post" action="/login">
  <div class="login-signup-form-container">
  	<div class="login">
  			<input type="text" placeholder="Email" name="email"><br>
  			<input type="password" placeholder="Password" name="password"><br>
  			<a href="#" class="login-forgot-pass">Forgot password?</a>
        <input type="submit" value="Log in">
  			<p class="sign-up-redirect">Don't have an account? &nbsp;<a class="sign-up-link" href="/signup">Sign up</a></p>
  	</div>
  </div>
</form>

</body>

<footer>

</footer>
</html>
