<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="login-signup-form-container">
	<div class="signup">
			<!-- <p class="signup-label" align="left"><b>Email</b></p> -->
			<input type="text" placeholder="Enter Email" name="email"><br>
			<!-- <p class="signup-label" align="left"><b>Enter Password</b></p> -->
			<input type="password" placeholder="Enter Password" name="password"><br>
			<!-- <p class="signup-label" align="left"><b>Repeat Password</b></p> -->
			<input type="password" placeholder="Repeat Password" name="repeat-password">
			<input type="button" value="Sign up">
			<p class="sign-up-redirect">Already have an account? &nbsp;<a class="sign-up-link" href="/login">Log in</a></p>
	</div>
</div>

</body>

<footer>

</footer>
</html>
  