<!DOCTYPE html>

<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<form method="post" action="/signup">
  <div class="login-signup-form-container">
    <div class="center">
    	<input type="text" placeholder="Enter Email" name="email" onchange="validateEmail()"><br>
      <p class="form-error-alert" id="email-alert">The email entered is not valid.</p>
    	<input type="password" placeholder="Enter Password" name="password" onchange="validatePassword()"><br>
      <p class="form-error-alert" id="password-alert">Please enter a password longer than 6 characters.</p>
    	<input type="password" placeholder="Repeat Password" name="repeat-password" onchange="validateRepeatPassword()">
      <p class="form-error-alert" id="repeat-password-alert">Passwords do not match.</p>
    	<input type="submit" value="Sign up">
    	<p class="sign-up-redirect">Already have an account? &nbsp;<a class="sign-up-link" href="/login">Log in</a></p>
    </div>
  </div>
</form>

</body>

<footer>

</footer>
</html>
  