<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<% include ../partials/nav.ejs %>

<body>

<p class="center-text" id="ascii-face">This page is under construction!</p>

<div class="center">
  <form action="/temp" method="get">
    <p class="center-text" id="ascii-face"><%= face %></p><br>
    <input type="submit" value="Get me a cool ASCII face!">
  </form>
</div>

</body>

</html>